@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    box-sizing: border-box;
    /* Total width: 160px
     Total height: 80px
     Content box width: 160px - (2 * 20px) - (2 * 8px) = 104px
     Content box height: 80px - (2 * 20px) - (2 * 8px) = 24px */
}

body {
    background: linear-gradient(300deg, #94d5f6, #5aa4cd);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family: "Noto Sans JP", "sans-serif";
    margin: 0;
}

/* Search Bar */
input {
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    font-family: inherit;
    padding: 1rem;
    min-width: 300px;
}

input:focus {
    outline: none;
}

.weather {
    font-size: 1.5rem;
    text-align: center;
}

.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    
}